body{
    /*background-image: url('https://img.freepik.com/vector-gratis/fondo-acuarela-cielo-estrellado-ensueno_79603-883.jpg?size=626&ext=jpg&ga=GA1.2.2036364465.1630886400');*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}